<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kläffer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">

  <div class="row">
    <h1>Kläffer Startseite</h1>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">

          <form method="post" action="/" th:action="@{/}" th:object="${klaefferForm}">
            <div class="mb-2">
              <span th:text="*{name}">Deine Name</span>
            </div>

            <div class="mb-2">
              <label for="textid">Kläff:</label>
              <input id="textid" type="text" name="text" placeholder="Wuff wuff">
              <small class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Fehler!</small>
            </div>

            <input type="submit" class="btn btn-primary" value="Abschicken">

          </form>

          <div th:each="klaeff: ${klaeffer}">
            <span th:text="${klaeff.name}"></span>:
            <span th:text="${klaeff.text}"></span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>