<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


<div class="container">

  <div class="row">
    <h1>Blutalkoholwert-Berechner</h1>
  </div>

  <div class="row">
    <h2>Angaben zum Alkoholgehalt im Getränk:</h2>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">

          <form method="post" action="/rechner" th:object="${widmark}">

            <div class="form-group">
              <label for="bier">Bier:</label>
              <input type="number" class="form-control" name="bier" id="bier" placeholder="in ml" value="0" th:field="*{bier}">
              <small class="text-danger" th:if="${#fields.hasErrors('bier')}" th:errors="*{bier}">Fehler!</small>
            </div>

            <div class="form-group">
              <label for="wein">Wein:</label>
              <input type="number" class="form-control" name="wein" id="wein" placeholder="in ml" value="0" th:field="*{wein}">
              <small class="text-danger" th:if="${#fields.hasErrors('wein')}" th:errors="*{wein}">Fehler!</small>
            </div>

            <div class="form-group">
              <label for="korn">Korn:</label>
              <input type="number" class="form-control" name="korn" id="korn" placeholder="in ml" value="0" th:field="*{korn}">
              <small class="text-danger" th:if="${#fields.hasErrors('korn')}" th:errors="*{korn}">Fehler!</small>
            </div>

            <div class="form-group">
              <label for="vodka">Vodka:</label>
              <input type="number" class="form-control" name="vodka" id="vodka" placeholder="in ml" value="0" th:field="*{vodka}">
              <small class="text-danger" th:if="${#fields.hasErrors('vodka')}" th:errors="*{vodka}">Fehler!</small>
            </div>

            <div class="form-group">
              <label for="whiskey">Whiskey:</label>
              <input type="number" class="form-control" name="whiskey" id="whiskey" placeholder="in ml" value="0" th:field="*{whiskey}">
              <small class="text-danger" th:if="${#fields.hasErrors('whiskey')}" th:errors="*{whiskey}">Fehler!</small>
            </div>

            <input type="submit" class="btn btn-primary" value="Submit">

            <p th:if="${!#fields.hasAnyErrors() and hatErgebnis}">Ihr Blutalkohol beträgt <strong><span th:text="${#numbers.formatDecimal(ergebnis,1,2)}">3,21</span></strong> Promille</p>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>